body {
    color: white;
    background-image: url('/assets/star-bg.gif')
}

img {
    max-width: 100%;
    height: auto;
}

.center {
    text-align: center;
}

.page-title {
    text-align: center;
    border: 4px solid grey;
    border-bottom-color: #424242;
    border-right-color: #424242;
    margin-bottom: 2rem;
}

.content-block-title {
    text-align: center;
}

.content-block {
    width: 80%;
    max-width: 1000px;
    background-color: black;
    padding: 1rem;
    border: 4px solid grey;
    border-bottom-color: #424242;
    border-right-color: #424242;
    margin: 0 auto 2rem;
}

.half {
    width: 25%;
}

.countdown {
    font-size: 10vw;
    color: #0000ff;

}

.image-container {
    text-align: center;
    margin-bottom: 1rem;
}

.fave-sites {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.footer-lockup {
    padding: 3rem 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
